<div class="container">
  <div class="row">
    <div class="nav header-div text-primary"> 
        Welcome
    </div>
    <div class="col-md-12 welcome-div">
        <div class="col-md-12 img-div">
          <img class="img-responsive center-block" src="./assets/logo.jpg" />
        </div>
        <div class="text-div">
        <p class="text-center">Developed By:</p>
        <h2 class="text-center">Sunny Wadhwani</h2>
        <p class="text-center">sunny.wadhwani@accenture.com</p>
      </div>
    </div>
  </div>
</div>